<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="4.1.60919" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="EPPlus" version="3.1.2" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.9" targetFramework="net45" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="11.0.3452.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Runtime.WinForms" version="11.0.3452.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Optimization" version="0.1" targetFramework="net45" />
</packages>