<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    
    <connectionStrings>
      <add name="SLIDS" connectionString="Data Source=XAMAR\SQLSERVERDEV;Initial Catalog=SLIDS;Integrated Security=False;Persist Security Info=True;User ID=SLIDS_User;Password=Cantaloop01;Encrypt=False;MultipleActiveResultSets=True" providerName="System.Data.SQLClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="Entities" connectionString="metadata=res://*/DAL.SLIDS.csdl|res://*/DAL.SLIDS.ssdl|res://*/DAL.SLIDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XAMAR\SQLSERVERDEV;initial catalog=SLIDS;integrated security=False;persist security info=True;user id=SLIDS_User;password=Cantaloop01;multipleactiveresultsets=True;encrypt=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
    <add key="incidentAdminMail" value="Patricia.schauenburg@swisstransplant.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <system.web>
  </system.web>
</configuration>