<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
    <add key="smtpHost" value="smtp.office365.com" />
    <add key="smtpUser" value="incidentslids@slids.ch" />
    <add key="smtpPassword" value="Problem..01" />
		<add key="smtpSender" value="incidentslids@slids.ch" />
		<add key="incidentAdminMail" value="martin.pluess@pentag.ch" />
		<add key="headerMessage" value="DEV" />
	</appSettings>
	<connectionStrings>
		<add name="SLIDS" connectionString="Data Source=localhost;Initial Catalog=SLIDS;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="Entities" connectionString="metadata=res://*/DAL.SLIDS.csdl|res://*/DAL.SLIDS.ssdl|res://*/DAL.SLIDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;Initial Catalog=SLIDS;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="SLIDS" connectionString="Data Source=.;Initial Catalog=SLIDS;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/DAL.SLIDS.csdl|res://*/DAL.SLIDS.ssdl|res://*/DAL.SLIDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SLIDS;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<system.web>
		<httpHandlers>
			<add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</httpHandlers>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</buildProviders>
		</compilation>
		<customErrors mode="On" defaultRedirect="Error.aspx" redirectMode="ResponseRedirect" />
		<httpRuntime targetFramework="4.5" maxRequestLength="1024000" executionTimeout="999999" />
		<pages maintainScrollPositionOnPostBack="true">
			<namespaces>
				<add namespace="Microsoft.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<authentication mode="Forms">
			<forms loginUrl="WebAccess/Login.aspx" defaultUrl="Search.aspx" timeout="1440" />
		</authentication>
		<!-- This will only allow authenticated users to access SLIDS -->
		<authorization>
			<deny users="?" />
		</authorization>
		<machineKey decryption="AES" validation="SHA1" decryptionKey="1513F567EE75F7FB5AC0AC4D79E1D9F25430E3E2F1BCDD3370BCFC4EFC97A541" validationKey="32CBA563F26041EE5B5FE9581076C40618DCC1218F5F447634EDE8624508A129" />
		<!-- Customized SqlMembershipProvider -->
		<membership defaultProvider="SLIDSMembershipProvider">
			<providers>
				<add name="SLIDSMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SLIDS" applicationName="SLIDS" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
			</providers>
		</membership>
		<!-- Customized RoleProvider -->
		<roleManager enabled="true" defaultProvider="SLIDSRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
			<providers>
				<add name="SLIDSRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="SLIDS" connectionStringName="SLIDS" />
			</providers>
		</roleManager>
	</system.web>
	<!-- SYSTEM: Allow all users -->
	<location path="Interruption.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="WarmUp.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Error.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="WebAccess/Logout.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="WebAccess/Authenticate.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="WebAccess/PasswordRecovery.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="WebAccess/PasswordResetWithToken.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<!-- SYSTEM -->
	<location path="ViewPDF.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC, TC, AAA" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<!-- Donor -->
	<location path="Search.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC, TC, AAA, IncidentAdmin, IncidentUser" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Organ.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC, TC, AAA, IncidentAdmin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Transport.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC, TC, AAA, IncidentAdmin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Cost.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="TransportCost.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Delay.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC, TC, AAA, IncidentAdmin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Statistics.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Reports/StatisticalReport.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Reports/FinancialReport.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<!-- Incident -->
	<location path="IncidentCreate.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC, TC, IncidentAdmin, IncidentUser" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="IncidentLexicon.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC, TC, IncidentAdmin, IncidentUser" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="IncidentOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC, TC, IncidentAdmin, AAA, IncidentUser" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ViewDocument.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, NC, TC, IncidentAdmin, IncidentUser" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="MailSend.aspx">
		<system.web>
			<authorization>
				<allow roles="IncidentAdmin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<nlog>
		<variable name="logdir" value="D:\SLIDS\log" />
		<variable name="app" value="SLIDSWeb_" />
		<targets>
			<target name="error" type="File" layout="${longdate} ${level} ${message}" fileName="${logdir}\${app}${shortdate}_error.log" keepFileOpen="false" encoding="iso-8859-2" />
			<target name="debug" type="File" layout="${longdate} ${level} ${message}${onexception: ${newline}${exceptiondetails}}" fileName="${logdir}\${app}${shortdate}_debug.log" keepFileOpen="false" encoding="iso-8859-2" />
			<target name="info" type="File" layout="${longdate} ${message}" fileName="${logdir}\${app}${shortdate}_info.log" keepFileOpen="false" encoding="iso-8859-2" />
			<target name="trace" type="File" layout="${longdate} ${message}" fileName="${logdir}\${app}${shortdate}_trace.log" keepFileOpen="false" encoding="iso-8859-2" />
		</targets>
		<rules>
			<logger name="*" minlevel="Warn" writeTo="error,debug" />
			<logger name="*" level="Debug" writeTo="debug" />
			<logger name="*" level="Info" writeTo="info" />
			<logger name="*" level="Trace" writeTo="trace" />
		</rules>
	</nlog>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
		<defaultDocument>
			<files>
				<add value="Search.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>